@tailwind components;
@tailwind base;
@tailwind utilities;

@import "./tailwind/components.scss";
@import "./utilities.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    @apply bg-light-blue;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px #041D2D;
  }
}

body {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

#app {
  overflow-x: hidden;
  max-width: 100vw;
}
