.mobile-nav {
  label {
    @apply z-10 flex flex-col gap-[1rem] cursor-pointer relative p-4;
    input {
      @apply hidden;
    }

    input:checked ~ span {
      @apply absolute -left-[4rem];
      &:nth-child(2) {
        @apply rotate-45;
      }
      &:nth-child(3) {
        @apply opacity-0;
      }

      &:last-child {
        @apply -rotate-45;
      }
    }

    span {
      @apply block w-[2.8rem] border-[1px] border-solid border-white transition-all;
    }
  }

  ul {
    @apply opacity-0 -translate-x-full transition-all;
  }

  label:has(input:checked) + ul {
    @apply opacity-100 translate-x-0;
  }
}

$width: 28rem;

.typewriter {
  position: relative;

  width: $width;

  border-right: 5px solid rgba(255, 255, 255, 0.75);

  text-align: start;
  white-space: nowrap;
  overflow: hidden;
}

/* Animation */
.anim-typewriter {
  animation: typewriter 8s steps(44) 1s normal both infinite,
    blinkTextCursor 1s steps(44) infinite normal;
}
@keyframes typewriter {
  0% {
    width: 0;
  }
  30% {
    width: $width;
  }

  50% {
    width: $width;
  }
  70% {
    width: 0;
  }
  100% {
    width: 0;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;

  max-width: 100%;
  max-height: 100%;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;

  max-width: 80%;
  max-height: 80%;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #75D9FF;
  border-color: #75D9FF transparent #75D9FF transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

